
* {

    box-sizing: border-box;
}
html, body 
{
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (max-width: 769px) 
{
    .NominaciiContainer
    {
        display: none;
    }
    
    .Container
    {
        width: 100%;
    }
    .NominaciiText
    {
        text-align: center;
        font: 8.238vw 'Andika-Bold';
    }
    .NominaciiContainerMob
    {
        margin-left: 3vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10vw;
        justify-content: left;
    }
    .NominaciiContainerMob img
    {
        filter: drop-shadow(2px 6px 5px rgba(0, 0, 0, 0.3));
    }
    .Frame1, .Frame3
    {
        transform: rotate(-2deg);
    }
    .Frame2, .Frame4
    {   
        transform: rotate(2deg);
    }
}
@media (min-width: 769px) 
{
    .NominaciiContainerMob
    {
        display: none;
    }
    .Container
    {
        width: 100%;
    }
    .NominaciiText
    {
        text-align: center;
        font: 2.917vw 'Andika-Bold';
    }
    .NominaciiContainer
    {
        margin: 3vw 10vw;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        justify-content: left;
    }
    .NominaciiContainer img
    {
        filter: drop-shadow(2px 6px 5px rgba(0, 0, 0, 0.3));
    }
    .Frame1, .Frame3
    {
        transform: rotate(-2deg);
    }
    .Frame2, .Frame4
    {   
        transform: rotate(2deg);
    }
}