@font-face 
{
    font-family: 'Andika-Regular';
    src: url('Fonts/Заголовок_Andika/Andika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Andika-Bold';
    src: url('Fonts/Заголовок_Andika/Andika-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Roboto-Regular';
    src: url('Fonts/Основа_Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Roboto-SemiBold';
    src: url('Fonts/Основа_Roboto/static/Roboto-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a {
    display: contents;
}
* {

    box-sizing: border-box;
}
html, body 
{
    margin: 0;
    padding: 0;
    width: 100%;
}
body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.EndSection
{        
    margin-top: auto;
    width: 100%;
}
.EndBg 
{
    width: 100%;
    display: block;
    vertical-align: bottom; 
}
 .FAQItem
{
        background-color: white;
        position: relative;
        filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.05));
}

@media (max-width: 769px) 
{
    .joinBtn
    {
        align-items: center;
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 8.451vw;
        padding: 3vw 3vw;
        border: none;
        border-radius: 10vw; 
        display: inline-block;
        margin-top: 37vw;
        transform: rotate(-2deg);
    }
    .stars, .MelokOrange, .MelokBlue, .EndBg
    {
        display: none;
    }
    .menulogo1 
    {
        max-width: 130px;
        height: auto;
    }

    .menulogo2 
    {
        max-width: 100px;
        height: auto;
        margin-left: 10px;      
    }
    .logo
    {
        max-width: 150px;
        height: auto;
    }
    .header 
    {    
        background-color: #B0DDF1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .menu-top-row 
    {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }
    .menulinkswrapperMobile 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-end;   
        text-align: right;

    }
    .menulinkswrapperMobile a 
    {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .closearrow 
    {
                
        background-color: #B0DDF1;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .burger-btn 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }
    .burger-btn span 
    {
        width: 100%;
        height: 3px;
        background-color: #333;
        border-radius: 2px;
    }
    .menu-logos-column 
    {
        display: flex;
        flex-direction: column;
        gap: 40px; 
    }
    .menu-body 
    {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;       
    }
    .mobilenav 
    {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0; 
        right: 0;
        width: 80%;
        height: 100vh;
        background-color: #B0DDF1;
        z-index: 9999; 
        transform: translateX(100%); 
        transition: transform 0.4s ease;
        align-items: flex-end;
        padding: 20px;
    }
    .mobilenav.active 
    {
        transform: translateX(0);
    }
    .mobilenav a 
    {
        text-align: right;
        text-decoration: none;
        color: #333;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .menu-links-wrapperMobile
    {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
        width: 100%;
        margin-top: 2vw;
        box-sizing: border-box;
    }
    .menu-links-wrapperMobile a 
    {
        position: relative;
        width: fit-content;
        right: 0vw; 
        text-align: right; 
        width: 180px;
        font-size: 20px;
        font-family: 'Andika-Regular';
    }
    .menucontentcontainer 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #B0DDF1;
        width: 100%;
        padding-top: 20px;
    }
    .leftsection 
    {
        display: flex;
        align-items: flex-start;
        gap: 15px;  
    }

    .logosstack 
    {
                
        background-color: #B0DDF1;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .logo1, .FirstPageDesk, .menulinkswrapperDesk
    {
        display: none;
    }
    .ConsursText
    {
        z-index: 1;
        font: 36px 'Andika-Bold';
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: clamp(300px, 80%, 600px);
    }
    .decorLeft 
    {
        z-index: 0;
        top: 63vw;
        position: absolute;
        left: 0vw;  
        bottom: 10%;
    }
    .decorRight
    {
        z-index: 0;
        top: 63vw;
        position: absolute;
        right: 6vw;  
        bottom: 10%;
    }
    .Window
    {
        top: 18vw;
        right: -4vw;
        width: 23vw;
        height: 23vw;
        display: block;
        position: absolute;
    }   

    .Arka 
    {
        width: 28vw;
        height: 28vw;
        display: block;
    }  
    .Line
    {
        top: 20vw;
        width: 20vw;
        height: auto;
        left: 1vw;
        position: absolute;
    } 

    .Chalk
    {        
        width: 35vw;
        height: auto;
        left: -2vw;
        top: 25vw;
        position: absolute;

    }
    

    .about-image img 
    {
        width: 100%; 
        max-width: 400px;
        height: auto;
    }

    .about-content 
    {
        text-align: center;
    }
    .FirstPageMobile 
    {
        display: flex;       
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 100vh;
        width: 100%;

        padding-top: 20vw;
        box-sizing: border-box; 
        background-color: white;
    }
    .aboutcontainer, .ParticipateContainer
    {

        display: flex;
        flex-direction: column;
        align-items: center;  
        text-align: center;
    }
    .ParticipateContaine
    {
        margin-top: 5vw;
    }
    .visualpart
    {
        overflow: hidden;
        position: relative;
        width: 100vw;
        display: block;
        line-height: 0;
    }

    .infopart 
    {

        margin-top: -3vw;
        background-color: #B1DEF2;
        width: 100%;
        order: 2;
    }
    .blue-shape 
    {
        width: 110%;
        height: auto;
        display: block;
        position: relative;
        z-index: 1;
    }

    .buildings 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: block;
    }
    .opera 
    {
        width: 70vw;
        left: 20vw;
        bottom: 3vw;
        position: absolute;
    }

    .center 
    {
        width: 45vw;
        left: 20vw;
        bottom: 30vw;
        position: absolute;
    }
    .starsMobile
    {
        width: 80vw;
        left: 13vw;
        bottom: 48vw;
        position: absolute;
    }
    .doc-btn
    {
        background-color: #D04023; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 20px;
        padding: 3vw 3vw;
        border: none;
        border-radius: 10vw; 
        transform: rotate(-2deg);

        margin-top: 2vw;
    }
    .infocontent
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    .AboutUs 
    {
        font-family: 'Andika-Bold';
        text-align: left; 
        width: 90%;
        font-size: 36px;
        margin-bottom: 1.5vw;
    }
    .Description
    {
        text-align: justify;
        font-family: 'Roboto-Regular';
        text-align: left; 
        width: 90%;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 2.5vw;
    }
    .buildingsParticipate  
    {
        position: absolute;
        top: 5vw;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: block;
    }
    .ParticipatepPart
    {
        flex-shrink: 0;
        order: 2;
        width: 30%;
    }
        .ZdaniyeContainer
    {

        margin-top: 25vw;
        position: relative;
        width: 100vw;
        height: 50vw;
        display: block;
        line-height: 0;
        order: 1;
    }
    .ParticipatepPart
    {
        flex-shrink: 0;
        order: 2;
        width: 100%;
    }
    .ParticipateContent
    {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: center;

    }
    .ParticipateNOVAT
    {
        width: 40vw;
        left: 25vw;
        top: -23vw;
        position: absolute;
    }
    .ParticipateLenina11
    {
        flex-shrink: 0;
        width: 45vw;
        right: 10vw;
        top: -8vw;
        position: absolute;
    }
    .Participate100KV
    {
        width: 65vw;
        left: 10vw;
        position: absolute;
    }

    .HowParticipate
    {
        font-family: 'Andika-Bold';
        text-align: left; 
        width: 90%;
        font-size: 36px;
        margin-bottom: 1.5vw;
                margin-left: 10vw;
    }
    .ParticipateDescription
    {
        font-family: 'Roboto-Regular';
        text-align: left; 
        max-width: 70vw;
        max-height: 120vw;
        font-size: 20px;
        margin-bottom: 10vw;
                margin-left: 10vw;
    }
    .Participatebtn
    {
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-Regular';
        font-size: 20px;
        padding: 5vw 5vw;
        border: none;
        border-radius: 10vw;  
        cursor: pointer;
        display: inline-block;
        align-self: self-start;
        margin-left: 10vw;
        transform: rotate(-2deg);
    }
    .CategoriesParticipantsList 
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 8vw;
        padding: 20px;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }

    .CategoriesParticipantsList::-webkit-scrollbar 
    {
        display: none;
    }
    .CategoriesParticipantsList img
    {
        filter: drop-shadow(2px 6px 5px rgba(0, 0, 0, 0.3));
        width: 80vw;
        flex-shrink: 0; 
        scroll-snap-align: center; 
    }
    .GreenCard, .YellowCard
    {
        transform: rotate(-2deg);
    }
    .BlueCard
    {   
        transform: rotate(2deg);
    }
    .other
    {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        position: relative;
        bottom: -8vw;
        display: flex;
        align-items: center;
        flex-direction: row;
        align-items: center;   
        justify-content: center;
    }
    .OrangeLine
    {   
        
        top: 20vw;
        max-width: none;
        width: 160vw; 
        height: auto;
        position: absolute;  
    }
    .FillAnketa
    {
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 7.563vw;
        position: relative;
        text-align: center;
        border: none;
        border-radius: 10vw; 
        cursor: pointer;
        display: inline-block;
        padding: 2vw 5vw;
        margin-bottom: 20vw;
        transform: rotate(-2deg);
    }
    .ParticipantsText
    {
        text-align: center;
        font-family: 'Andika-Bold';
        font-size: 7.563vw;
    }
    .Answer
    {
        font-family: 'Roboto-Regular';
        font-size: 4.926vw;
        margin: 0vw 5vw;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
    .FAQSection
    {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20vw;
    }
    .FAQItem.active .Answer
    {
        z-index: 10;
        max-height: 300vw;  
    }
    .AnswerText
    {
        margin: 0vw 15vw;
        text-align: center;
        max-width: 100%;
        font: 5.911vw 'Andika-Bold';
    }
    .Question
    {
        margin: 0vw 5vw;
        font-family: 'Roboto-Regular';
        font-size: 4.926vw;
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 15px;
        padding: 20px 0;
    }
    .ContactsContainer 
    {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;  
    }
    .EndMobileBg
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        z-index: -1;
    }

    .Contacts 
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 2.463vw;
        align-items: center; 
    }
    .SocialNetworks
    {
        margin: 1vw 10vw;
    }
    .ContactText
    {
        margin-top: 20vw;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }    
    .Contacts h2
    {        
        
        margin: 1.5vw 10vw;
        text-align: right;
        font: 8.867vw 'Andika-Bold';
        color: white;
    }
    .Contacts p
    {       
        
        margin: 1.5vw 10vw;
        max-width: 70%;
        text-align: right;
        color: white;
        font-family: 'Roboto-Regular';
        font-size: 4.926vw;
    }
    .LogoNPC
    {        
                margin-right: 10vw;
        align-self: self-end;
        order: 2;
        width: 50vw;
    }
    .Answer p, .Answer ul
    {
        margin-left: 5vw;
        font-family: 'Roboto-Regular';
        font-size: 4.926vw;
    }
    .LineMobile
    {
        width: 100%;
        height: 0.5vw;
        background-color: black;
        border-color: black;
    }
}
@media (min-width: 769px) 
{
    .aboutsection
    {
        display: flex;
        flex-direction: row;
        max-width: none;
        width: 100%; 
        align-items: stretch;
        margin-top: 5vw;
    }
    .ParticipateSection
    {
        display: flex;
        flex-direction: row;
        max-width: none;
        width: 100%; 
        align-items: stretch;
        margin-top: 4vw;
    }
    .aboutcontainer, .ParticipateContainer
    {
        display: flex;
        flex-direction: row;
        max-width: none;
        width: 100%; 
        align-items: stretch;
    }

    .about-visual 
    {
        flex: 0 0 50%;
        position: relative;
        background-color: #f0f8ff;
    }

    .about-text 
    {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        padding-left: 5%;
        background-color: #f0f8ff;
    }
    
    .layer-center 
    {
        right: auto;
        left: 40%; 
    }
    .burger-btn, .mobilenav, .FirstPageMobile, .menulinkswrapperMobile, .starsMobile, .EndMobileBg
    {
        display: none;
    }
    .logogroup 
    {
        margin-left: 150px;
        display: flex;
        align-items: center;
        gap: 60px;
        margin-right: auto;
    }

    .logo 
    {
        max-width: 240px;
        height: auto;
    }

    .logo1 
    {
        max-width: 150px;
        height: auto;
    }
    .menulinkswrapperDesk
    {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:flex-end;
        gap: 3vw;      
        margin-left: auto;
        margin-right: 50px;
    }

    .menulinkswrapperDesk a 
    {
        display: inline-block;
        font: 1.042vw 'Roboto-Regular';
        text-decoration: none;
        color: #333;
        margin-bottom: 0; 
        transition: color 0.3s;
    }
    .header 
    {    
        background-color: #B0DDF1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        padding: 10px 20px;
    }
    .ConsursText
    {                
        position: absolute;
        top: -1vw;
        text-align: center;
        z-index: 10;
        font: 56px 'Andika-Bold';
        text-align: center;
    }
    .FirstPageDesk 
    {
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .decorLeft 
    {
        top: 24vw;
        position: absolute;
        left: 0;  
        bottom: 10%;
    }
    .decorRight
    {
        top: 300px;
        position: absolute;
        right: 0;  
        bottom: 10%;
    }
    .decorCenter
    {
        right: 55vw;
        top: 3vw;
        position: absolute;
        bottom: 10%;
    }
    .Line
    {
        top: 2vw;
        left: -17vw;
        width: 26vw;
        height: 26vw;
        position: absolute;
    }
    .Chalk
    {        
        top: 10vw;
        left: 2vw;
        width: 25vw;
        height: 25vw;
        position: absolute;
    }
    .Palette 
    {
        width: 15vw;
        height: auto;
        display: block;
        position: absolute;
    }   

    .Brush 
    {
        width: 25vw;
        height: 25vw;
        left: -3vw;
        top: -11vw;
        position: absolute;

    }
    .Window 
    {
        width: 11vw;
        height: 11vw;
        height: auto;
        display: block;
    }   

    .Arka
    {        
        width: 17vw;
        height: 17vw;
        right: 0vw;
        top: -12vw;
        position: absolute;
    }
    .joinBtn
    {
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 1.875vw;
        padding: 1.042vw 2.865vw;
        border: none;
        border-radius: 2.604vw; 
        cursor: pointer;
        display: inline-block;
        transform: rotate(-2deg);
        transition: transform 0.3s, background-color 0.3s;
        margin-top: 37vw;
    }

    .joinBtn:hover 
    {
        background-color: #b03d24; 
        transform: rotate(0deg) scale(1.05);
    }
    .buildings 
    {
        position: relative;
        bottom: -8vw;
        z-index: 15;
        align-items: flex-end;
    }
    .buildings img.opera 
    {
        max-width: none; 
    }
    .opera 
    {
        max-width: none;
        width: 38vw; 
        height: auto;
        position: absolute;  
        left: 18vw;    
        bottom: 10vw; 
        flex-shrink: 0;
    }
    .center 
    {
        max-width: none;
        width: 20vw;
        height: auto;
        position: absolute;
        left: 6vw;
        bottom: 20vw;
        flex-shrink: 0;
    }
    .stars
    {
        max-width: none;
        width: 30vw; 
        height: auto;
        position: absolute;  
        left: 3vw;    
        bottom: 30vw; 
        flex-shrink: 0; 
    }
    .doc-btn
    {
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 1.042vw;
        padding: 1vw 1vw;
        border: none;
        border-radius: 2vw; 
        cursor: pointer;
        display: inline-block;
        transform: rotate(-2deg);
        transition: transform 0.3s, background-color 0.3s;
        margin-right: 2vw;
        align-self:self-end;
    }

    .doc-btn:hover 
    {
        background-color: #b03d24; 
        transform: rotate(0deg) scale(1.05);
    }
    .infocontent
    {
        padding-left: 30vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .AboutUs 
    {
        
        font-family: 'Andika-Bold';
        text-align: left; 
        max-width: 30vw;
        font-size: 1.875vw;
        margin-bottom: 1.5vw;
        margin-right: 25vw;
    }
    .Description
    {
        font-family: 'Roboto-Regular';
        text-align: left; 
        width: 30vw;
        font-size: 1.042vw;
        line-height: 1.4;
        margin-bottom: 2.5vw;
    }
    .visualpart, .ZdaniyeContainer
    {

        width: 100%;
        flex: 1 1 auto; 
        max-width: none; 
        position: relative;
        z-index: 2;
    }
    .blue-shape 
    {
        width: 50vw; 
        height: 40vw; 
        object-fit: fill;
        display: block;
    }
    .infopart 
    {
        height: 35vw;
        flex: 0 0 74.5vw;
        margin-left: -35vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; 
        position: relative;
        top: 3vw;
        padding: 2vw 5vw;
        background-color: #B1DEF2;
        z-index: 1;
    }
    .ParticipateLenina11
    {
        max-width: none;
        width: 20vw; 
        height: auto;
        position: absolute;  
        right: 8vw;    
        bottom: -10vw; 
        flex-shrink: 0;
    }
    .ParticipateNOVAT
    {
        max-width: none;
        width: 20vw; 
        height: auto;
        position: absolute;  
        right: 20vw;    
        bottom: -5vw; 
        flex-shrink: 0;
    }
    .Participate100KV
    {
        max-width: none;
        width: 35vw;
        height: auto;
        position: absolute;
        right: 13vw;
        bottom: auto;
        top: 0vw;
        flex-shrink: 0;
    }
    .HowParticipate
    {
        font-family: 'Andika-Bold';
        text-align: left; 
        width: 90%;
        font-size: 1.875vw;
        margin-bottom: 1.5vw;
        padding-left: 7vw;
    }
    .ParticipateDescription
    {
        font-family: 'Roboto-Regular';
        text-align: left; 
        font-size: 1.042vw;
        line-height: 1.4;
        margin-bottom: 2.5vw;
         margin-left: 9vw;
    }
    .ParticipateContent
    {
        padding-right: 10vw;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Participatebtn
    {
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 1.042vw;
        padding: 1vw 1vw;
        border: none;
        border-radius: 2vw; 
        cursor: pointer;
        display: inline-block;
        transform: rotate(-2deg);
        transition: transform 0.3s, background-color 0.3s;
        align-self: self-start;
        margin-left: 8.5vw;
        margin-top: 1.5vw;
    }

    .Participatebtn:hover 
    {
        background-color: #b03d24; 
        transform: rotate(0deg) scale(1.05);
    }
    .buildingsParticipate 
    {
        width: 100%;
        position: relative;
        bottom: -8vw;
        z-index: 15;
        align-items: flex-end;
    }
    .ParticipantsContainer
    {
        display: flex;
        flex-direction: row;
        max-width: none;
        width: 100%;
        margin-top: 7vw; 
        align-items: stretch;
    }
    .ParticipantspPart
    {
        flex-direction: column;
        align-items: center;
    }
    .Participant
    {
        padding-top: 10vw;
    }
    .CategoriesParticipants
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .CategoriesParticipantsList
    {
        
        padding-top: 2vw;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;   
        justify-content: center;
        gap: 6vw;
    }
    .CategoriesParticipantsList img
    {
        width: 25vw; 
        height: auto;
        filter: drop-shadow(2px 6px 5px rgba(0, 0, 0, 0.3));
    }
    .GreenCard, .YellowCard
    {
        transform: rotate(-2deg);
    }
    .BlueCard
    {
        transform: rotate(2deg);
    }
    .ParticipantsText
    {
        font-family: 'Andika-Bold';
        font-size: 1.875vw;
    }
    .other
    {
        width: 100%;
        position: relative;
        bottom: -8vw;
        display: flex;
        align-items: center;
        flex-direction: row;
        align-items: center;   
        justify-content: center;
    }

    .MelokBlue
    {
        right: 13vw;
        max-width: none;
        width: 25vw; 
        height: auto;
        position: absolute;  
        
        margin-top: -5vw;
    }
    .MelokOrange
    {
        left: 11.5vw;
        max-width: none;
        width: 25vw; 
        height: auto;
        position: absolute;
        margin-bottom: 4vw;
        
    }
    .OrangeLine
    {   
        top: 6vw;
        max-width: none;
        width: 35vw; 
        height: auto;
        position: absolute;  
    }
    .FillAnketa
    {
        background-color: #D64D2E; 
        color: white;
        font-family: 'Roboto-SemiBold', sans-serif;
        font-size: 1.875vw;
        position: relative;
        text-align: center;
        padding: 1vw 1vw;
        border: none;
        border-radius: 2vw; 
        cursor: pointer;
        display: inline-block;
        padding: 1vw 2.5vw;
        transform: rotate(-2deg);
        transition: transform 0.3s, background-color 0.3s;
    }
    .FillAnketa:hover 
    {
        background-color: #b03d24; 
        transform: rotate(0deg) scale(1.05);
    }
    .FAQ
    {
        display: flex;
        flex-direction: column;
        width: 100%
    }
    .AnswerText
    {
        font: 1.25vw 'Andika-Bold';
    }
    .Answer
    {
        font-family: 'Roboto-Regular';
        font-size: 1.042vw;
        margin-left: 5vw;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
    .FAQItem.active .Answer
    {
        z-index: 10;
        max-height: 500px;  
    }

    .Question
    {
        margin-left: 5vw;
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 15px;
        padding: 20px 0;
    }
    .Question p
    {
        
        margin-left: 5vw;
        font-family: 'Roboto-Regular';
        font-size: 1.042vw;
    }
    .FAQline 
    {
        align-items: center;
        width: 2vw;
        height: 0.5vw;
        background-color: #D9D9D9;
        border-radius: 1vw;
    }
    .FAQSection
    {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20vw;
    }
    .ContactsContainer 
    {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
    }
    .End
    {
        position: relative;
        object-fit: fill;
        width: 100%;
    }
    .EndSection
    {        
        margin-top: auto;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .Contacts
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        
    }
    .Contacts h2
    {
        margin: 0;
        font: 1.875vw 'Andika-Bold';
        color: white;
    }
    .Contacts p
    {        
        margin: 0;
        text-align: right;
        color: white;
        font-family: 'Roboto-Regular';
        font-size: 20px;
    }
    .LogoNPC
    {
        width: 15vw;
    }
    .EndBg
    {
        width: 100%;
        display: block;
    }
    .ContactText
    {
        padding: 0vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 50vw;
    }
}